# Project Description

#### Motivation  

This is my proposal for the open subject capstone project for conclusion of the **Data Engineering** Nanodegree at Udacity.  

For this project, I am looking to target a relevant subject, with real world application, and that produces large amounts of data frequently.  

One of the subject that immediately came to my mind is COVID-19. This subject can and has been explored in different ways, and in my view, it can be interesting to see the way travelling and economies were affected by it. This will still unfortunately going to be a relevant subject for months to come, rich in data, and that can be approached in multiple angles.     

In this exercise, I will explore some data sets and approaches to the subject.

#### Scope  
TODO

#### Data Exploration

In [1]:
import configparser
conf = configparser.ConfigParser()

In [2]:
import requests

In [3]:
conf.read("configs/aviation.cfg")

['configs/aviation.cfg']

##### Flight data  :

https://aviationstack.com/  

Historical data not supported. 500 Requests. 100 results per API request.  
Airline, airport, cities data.

In [ ]:
aviation_key = conf["AVIATIONSTACK"]["ACCESS_KEY"]
aviation_historical_endpoint = 'http://api.aviationstack.com/v1/flights?access_key={access_key}'.format( 
    access_key = aviation_key 
)

In [ ]:
response = requests.get(aviation_historical_endpoint)

In [ ]:
realtime_flights = response.json()
realtime_flights

##### OpenSky  resources

https://traffic-viz.github.io/scenarios/covid19.html  
https://traffic-viz.github.io/opensky_rest.html

In [ ]:
#!conda install cartopy shapely

In [ ]:
#!pip install --upgrade traffic

In [ ]:
import traffic
## SET opensky_username and opensky_password in following file:
traffic.config_file

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

from traffic.data import opensky
from traffic.drawing import EuroPP, countries

### Current flights

In [ ]:
# States -> Current flights
sv = opensky.api_states()

with plt.style.context('traffic'):
    fig, ax = plt.subplots(subplot_kw=dict(projection=EuroPP()))
    ax.add_feature(countries())
    ax.gridlines()
    ax.set_extent((-7, 15, 40, 55))

    sv.plot(ax, s=10)

In [ ]:
# REST API to open sky 
opensky_endpoint = 'https://opensky-network.org/api'
arrivals_endpoint = '/flights/arrival'
departures_endpoint = '/flights/departure'
all_flights_endpoint = '/flights/all'

### Arrivals

In [ ]:
# set ARRIVALS params -> 7 days max
params = {
    'airport': 'EDDF'
    ,'begin': 1612183863
    ,'end': 1612615863
} 
arrivals_response = requests.get(opensky_endpoint + arrivals_endpoint , params )

In [ ]:
# Get demo ARRIVALS 
arrivals_response.json()

### All flights

In [ ]:
# set ALL FLIGHTS params -> two hours max
params = {
    'begin': 1612183863
    ,'end': 1612184863
} 
all_flights_response = requests.get(opensky_endpoint + all_flights_endpoint , params )

In [ ]:
# Get demo ALL FLIGHTS
all_flights_response.json()

### Loading CSV files

In [ ]:
#!pip install zenodo-get

In [ ]:
!cd input/data | zenodo_get 4485741

In [4]:
import pandas as pd

In [5]:
pd.read_csv('input/data/flightlist_20190101_20190131.csv.gz', 
            header=0, 
            sep=',', 
            quotechar='"', 
            error_bad_lines=False)

/home/nunovazafonso/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,HVN19,NaN,888152,NaN,NaN,YMML,LFPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,CCA839,NaN,780ad1,NaN,NaN,YMML,LEBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,-37.692123,144.841997,304.8,41.036124,2.063557,1112.52
2,CES219,NaN,780b7e,B-5936,A332,YSSY,EDDF,2018-12-31 01:05:29+00:00,2019-01-01 04:09:29+00:00,2019-01-01 00:00:00+00:00,-33.930908,151.171987,0.0,50.045563,8.588923,-15.24
3,AEA040,NaN,34444e,EC-LVL,A332,LEMD,LEMD,2018-12-31 01:07:21+00:00,2019-01-01 03:32:59+00:00,2019-01-01 00:00:00+00:00,40.534756,-3.575426,609.6,40.475728,-3.538347,411.48
4,CXA825,NaN,780d75,B-2760,B788,YSSY,LFPG,2018-12-31 01:18:29+00:00,2019-01-01 04:32:28+00:00,2019-01-01 00:00:00+00:00,-33.954254,151.178041,0.0,48.996091,2.625805,22.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2145464,UAE564,NaN,89621b,A6-EGZ,B77W,OMDB,OMDB,2019-01-31 23:45:57+00:00,2019-01-31 23:56:28+00:00,2019-01-31 00:00:00+00:00,25.248379,55.359459,-304.8,25.254961,55.353850,-22.86
2145465,N9875D,NaN,adc830,NaN,NaN,NaN,18AZ,2019-01-31 23:46:19+00:00,2019-01-31 23:56:48+00:00,2019-01-31 00:00:00+00:00,33.841475,-111.583157,1219.2,33.824524,-111.876077,1051.56
2145466,N919SF,NaN,acb9b0,N919SF,NaN,OK60,KPWA,2019-01-31 23:46:42+00:00,2019-01-31 23:59:34+00:00,2019-01-31 00:00:00+00:00,34.996995,-97.767506,609.6,35.528000,-97.573414,548.64
2145467,JBU1020,NaN,a752ea,N571JB,A320,NaN,KHWO,2019-01-31 23:47:42+00:00,2019-01-31 23:57:51+00:00,2019-01-31 00:00:00+00:00,26.006653,-79.958911,1524.0,26.077446,-80.248842,373.38
2145468,CES2789,NaN,78086d,B-6890,A320,NaN,NaN,2019-01-31 23:47:49+00:00,2019-01-31 23:58:50+00:00,2019-01-31 00:00:00+00:00,26.078889,119.596957,7315.2,27.304733,119.650545,7498.08

### Twitter data   

http://twitterdata.covid19dataresources.org/data/  
https://zenodo.org/record/4568860#.YDvUKv7LcYs

In [ ]:
# Download Twitter data
!zenodo_get 4568860 -o input/data/twitter

In [ ]:
pd.read_json('input/data/twitter/covid19_2020_02_06.json.gz' 
             , compression = 'gzip'
             , lines=True)

## Covid Data

https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations  
https://data.humdata.org/dataset/coronavirus-covid-19-cases-and-deaths

### Vaccination

In [6]:
vaccination_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.json'

In [7]:
daily_vaccinations = pd.json_normalize( requests.get(vaccination_url).json() 
                  ,meta=['country', 'iso_code']
                  ,record_path= 'data' )

daily_vaccinations[daily_vaccinations['country'] == 'Portugal'].sort_values('date')

,date,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,daily_vaccinations,daily_vaccinations_per_million,daily_vaccinations_raw,people_fully_vaccinated,people_fully_vaccinated_per_hundred,country,iso_code
3773,2020-12-27,4963.0,4963.0,0.05,0.05,NaN,NaN,NaN,NaN,NaN,Portugal,PRT
3774,2020-12-28,7754.0,7754.0,0.08,0.08,2791.0,274.0,2791.0,NaN,NaN,Portugal,PRT
3775,2020-12-29,20368.0,20368.0,0.20,0.20,7702.0,755.0,12614.0,NaN,NaN,Portugal,PRT
3776,2020-12-30,30543.0,30543.0,0.30,0.30,8527.0,836.0,10175.0,NaN,NaN,Portugal,PRT
3777,2020-12-31,32749.0,32749.0,0.32,0.32,6946.0,681.0,2206.0,NaN,NaN,Portugal,PRT
...,...,...,...,...,...,...,...,...,...,...,...,...
3837,2021-03-01,868951.0,603585.0,8.52,5.92,26956.0,2644.0,7029.0,265366.0,2.60,Portugal,PRT
3838,2021-03-02,885109.0,618393.0,8.68,6.06,27259.0,2673.0,16158.0,266716.0,2.62,Portugal,PRT
3839,2021-03-03,900831.0,632450.0,8.83,6.20,25731.0,2523.0,15722.0,268381.0,2.63,Portugal,PRT
3840,2021-03-04,929133.0,655719.0,9.11,6.43,25259.0,2477.0,28302.0,273414.0,2.68,Portugal,PRT
3841,2021-03-05,972183.0,692960.0,9.53,6.80,25025.0,2454.0,43050.0,279223.0,2.74,Portugal,PRT

### Cases and Deaths

In [8]:
covid_url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
# daily data on COVID cases and deaths
cases_df = pd.read_csv( covid_url )

cases_df[cases_df['Country'] == 'Portugal' ].sort_values('Date_reported')

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
72072,2020-01-03,PT,Portugal,EURO,0,0,0,0
72073,2020-01-04,PT,Portugal,EURO,0,0,0,0
72074,2020-01-05,PT,Portugal,EURO,0,0,0,0
72075,2020-01-06,PT,Portugal,EURO,0,0,0,0
72076,2020-01-07,PT,Portugal,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
72496,2021-03-02,PT,Portugal,EURO,394,804956,34,16351
72497,2021-03-03,PT,Portugal,EURO,691,805647,38,16389
72498,2021-03-04,PT,Portugal,EURO,979,806626,41,16430
72499,2021-03-05,PT,Portugal,EURO,290,806916,28,16458
72500,2021-03-06,PT,Portugal,EURO,1489,808405,28,16486

In [16]:
destination_folder = "input/data" 
cases_df.to_csv( destination_folder + "/covid_data.csv", sep="," )


### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up