In [1]:
import requests
import pandas as pd

In [2]:
vaccination_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.json'
covid_url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'

In [3]:
vaccinations_json = requests.get(vaccination_url).json()

daily_vaccinations = pd.json_normalize( vaccinations_json 
                  ,meta=['country', 'iso_code']
                  ,record_path= 'data' )

In [4]:
daily_vaccinations

,date,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,daily_vaccinations,daily_vaccinations_per_million,daily_vaccinations_raw,people_fully_vaccinated,people_fully_vaccinated_per_hundred,country,iso_code
0,2021-01-10,0.0,0.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,Albania,ALB
1,2021-01-11,NaN,NaN,NaN,NaN,64.0,22.0,NaN,NaN,NaN,Albania,ALB
2,2021-01-12,128.0,128.0,0.00,0.00,64.0,22.0,NaN,NaN,NaN,Albania,ALB
3,2021-01-13,188.0,188.0,0.01,0.01,63.0,22.0,60.0,NaN,NaN,Albania,ALB
4,2021-01-14,266.0,266.0,0.01,0.01,66.0,23.0,78.0,NaN,NaN,Albania,ALB
...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2021-03-09,35761.0,35761.0,0.24,0.24,1526.0,103.0,243.0,NaN,NaN,Zimbabwe,ZWE
5990,2021-03-10,35901.0,35901.0,0.24,0.24,1133.0,76.0,140.0,NaN,NaN,Zimbabwe,ZWE
5991,2021-03-11,36019.0,36019.0,0.24,0.24,766.0,52.0,118.0,NaN,NaN,Zimbabwe,ZWE
5992,2021-03-12,36283.0,36283.0,0.24,0.24,708.0,48.0,264.0,NaN,NaN,Zimbabwe,ZWE
5993,2021-03-13,36359.0,36359.0,0.24,0.24,621.0,42.0,76.0,NaN,NaN,Zimbabwe,ZWE

In [16]:
#row count
daily_vaccinations.shape[0]

5784

Test Count: 5.784

In [21]:
# daily data on COVID cases and deaths
cases_df = pd.read_csv( covid_url )

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
102544,2021-03-07,ZW,Zimbabwe,AFRO,12,36260,1,1485
102545,2021-03-08,ZW,Zimbabwe,AFRO,11,36271,0,1485
102546,2021-03-09,ZW,Zimbabwe,AFRO,18,36289,2,1487
102547,2021-03-10,ZW,Zimbabwe,AFRO,32,36321,2,1489
102548,2021-03-11,ZW,Zimbabwe,AFRO,20,36341,0,1489

In [20]:
#row count
cases_df.shape[0]

102549

Test count: 102.549

#### Countries dim mapper

In [ ]:
!pip install pycountry

In [4]:
import pycountry

In [58]:
country_objects = pycountry.countries.objects

countries = []    
[ countries.append( {'name': country.name , 'alpha_2': country.alpha_2, 'alpha_3': country.alpha_3 } ) 
     for country in country_objects ]

countries_df = pd.DataFrame( countries )

In [59]:
countries_df

              name alpha_2 alpha_3
0            Aruba      AW     ABW
1      Afghanistan      AF     AFG
2           Angola      AO     AGO
3         Anguilla      AI     AIA
4    Ã…land Islands      AX     ALA
..             ...     ...     ...
244          Samoa      WS     WSM
245          Yemen      YE     YEM
246   South Africa      ZA     ZAF
247         Zambia      ZM     ZMB
248       Zimbabwe      ZW     ZWE

[249 rows x 3 columns]

In [5]:
tables = [
    {'name': 'covid', 'ke}
]

for t in tables: 
    print(t['key'])

TypeError: string indices must be integers