In [1]:
import requests
import pandas as pd

In [18]:
vaccination_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.json'
covid_url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'

In [ ]:
vaccinations_json = requests.get(vaccination_url).json()

daily_vaccinations = pd.json_normalize( vaccinations_json 
                  ,meta=['country', 'iso_code']
                  ,record_path= 'data' )

In [16]:
#row count
daily_vaccinations.shape[0]

5784

Test Count: 5.784

In [21]:
# daily data on COVID cases and deaths
cases_df = pd.read_csv( covid_url )

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
102544,2021-03-07,ZW,Zimbabwe,AFRO,12,36260,1,1485
102545,2021-03-08,ZW,Zimbabwe,AFRO,11,36271,0,1485
102546,2021-03-09,ZW,Zimbabwe,AFRO,18,36289,2,1487
102547,2021-03-10,ZW,Zimbabwe,AFRO,32,36321,2,1489
102548,2021-03-11,ZW,Zimbabwe,AFRO,20,36341,0,1489

In [20]:
#row count
cases_df.shape[0]

102549

Test count: 102.549

#### Countries dim mapper

In [ ]:
!pip install pycountry

In [4]:
import pycountry

In [58]:
country_objects = pycountry.countries.objects

countries = []    
[ countries.append( {'name': country.name , 'alpha_2': country.alpha_2, 'alpha_3': country.alpha_3 } ) 
     for country in country_objects ]

countries_df = pd.DataFrame( countries )

In [59]:
countries_df

              name alpha_2 alpha_3
0            Aruba      AW     ABW
1      Afghanistan      AF     AFG
2           Angola      AO     AGO
3         Anguilla      AI     AIA
4    Åland Islands      AX     ALA
..             ...     ...     ...
244          Samoa      WS     WSM
245          Yemen      YE     YEM
246   South Africa      ZA     ZAF
247         Zambia      ZM     ZMB
248       Zimbabwe      ZW     ZWE

[249 rows x 3 columns]